/* 
    Created on : May 26, 2022, 11:00:58 p.m.
    Author     : Annie Kim
*/

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

html {
    background-color: #f5e8d4;
}

body {
    font-family: 'Abel', sans-serif; 
}

h1 {
    display: block;
    text-align: center;
    font-size: 2.2em;
    padding: 5px;
    margin: 0 0 10px 0;
    background-color: #faf5ed;
}

h2 {
    display: block;
    text-align: center;
    font-size: 1.9em;
    padding: 5px;
    margin: 0 0 10px 0;
}

.navAlpha {
    display: flex;
    gap: 2vw;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

li {
    list-style-type: none;
    justify-content: center; 
    font-size: 1.2em;
}

a:link {
    text-decoration: none;
    color: #463b2b;

}

a:active, a:hover {
    color: #c96521;
}

table {
    margin-left: auto; 
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 50px 15px;

}

.buttons {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.buttons >*{
    border-style: none; 
    border-radius: 2px;
    background-color: #bf9a64;
    font-family: 'Abel', sans-serif; 
}

.buttons >*:hover {
    background-color: #463b2b;
    color: #faf5ed;
}
