
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <title>Recipe Daily</title>
        <link th:href="@{css/main.css}" rel="stylesheet"/>
    </head>
    <body>
        <h1>Recipe Daily</h1>
        <nav>
            <ul class="navAlpha">
                <li th:each="a: ${alphabets}">
                    <a th:href="@{/{alpha}(alpha = ${a.name})}">
                        <span th:text="${a.name}"></span>
                    </a>                       
                </li>
            </ul> 
        </nav>
        <hr/>
    </body>
</html>
